%p
  Welcome to tipping 2014.
%p
  Your login details are as follows:
  %br
  Login: #{@user.email}
  %br
  Password: #{@user.password}

%p
  You can log in here: #{link_to 'Tipping 2014', root_url}
%p
  %b
    We highly recommend you change your password #{link_to 'here', new_user_password_url}.

%p
  If you have any questions talk to the person who signed you up or drop us a line at #{mail_to 'tipping2014info@gmail.com', 'tipping2014info@gmail.com'}

%p
  Happy Tipping!
%p
  Rich.
