= form_for(tip, remote: true) do |f|
  .teams.col-xs-3.col-md-8
    - if match.first_team.blank?
      Undecided
    - else
      %span.team1
        = flag_img(match.first_team.code)
        = match.first_team.name
        - if match.result
          %span.score
            = match.result.first_team_score
        - else
          %span.tip
            = f.radio_button :tip, match.first_team.id
    vs.
    - if match.second_team.blank?
      Undecided
    - else
      %span.team2
        = flag_img(match.second_team.code)
        = match.second_team.name
        - if match.result
          %span.score
            = match.result.second_team_score
        - else
          %span.tip
            = f.radio_button :tip, match.second_team.id
      %span.tip.draw
        = label_tag 'draw'
        = f.radio_button :tip, Tip::DRAW
:javascript
  $(document).ready ->
    $("#new_post").on("ajax:success", (e, data, status, xhr) ->
      $("#new_post").append xhr.responseText
    ).on "ajax:error", (e, xhr, status, error) ->
      $("#new_post").append "<p>ERROR</p>"
