= form_for(tip, remote: true) do |f|
  .teams.col-xs-12
    - if match.first_team.blank?
      Undecided
    - else
      .tip-btn.btn.btn-primary{class: btn_active_class(tip, match.first_team.id)}
        = flag_img(match.first_team.code)
        = match.first_team.code
        - if match.result
          %span.score
            = match.result.first_team_score
        - else
          .tip
            = f.radio_button :team_id, match.first_team.id
    .vs.verbose
      vs.
    - if match.second_team.blank?
      Undecided
    - else
      .tip-btn.btn.btn-primary{class: btn_active_class(tip, match.second_team.id)}
        = flag_img(match.second_team.code)
        = match.second_team.code
        - if match.result
          %span.score
            = match.result.second_team_score
        - else
          .tip
            = f.radio_button :team_id, match.second_team.id
      .tip-btn.draw.btn.btn-primary{class: btn_active_class(tip, Tip::DRAW)}
        = icon('arrows-h')
        draw
        = f.radio_button :team_id, Tip::DRAW
