!!! 5
%html
%head
  %title='Tipping2014'
  - if include_wallpaper?
    = stylesheet_link_tag    "body", :media => "all"
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  %meta{name:"viewport",content:"width=device-width, initial-scale=1, maximum-scale=1"}
  = csrf_meta_tags
  %link{href:'http://fonts.googleapis.com/css?family=Arimo:400,700',rel:'stylesheet',type:'text/css'}
%body.tipping
  = render partial: 'layouts/header'
  %p.notice
    = notice
  %p.alert
    = alert
  .content
    = yield
  = render partial: 'layouts/footer'
